body {
  background-color: #f6f6f6;
  max-width: 1440px;
}

main {}

h1 {
  letter-spacing: 12px;
}

.container-fluid {
  padding-top: 8%;
  padding-bottom: 8%;
}

.content {
  padding-left: 17%;
  padding-right: 17%;
}

.girl-desktop {
  width: 100%;
}

.header-first {
  font-size: 4.3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  padding-top: 20%;
  color: hsl(0, 36%, 70%);
  line-height: normal;
  letter-spacing: 15px;
}

.header-remainder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #000000;
}

.form-copy {
  font-size: 1.1rem;
  color: hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-top: 2%;
  padding-bottom: 5%;
}

.left-column {
  background-image: url('/images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15px;
}

.logo {
  padding-top: 15%;
  width: 30%;
}

.right-column {
  /* background-image: url('/images/hero-desktop.jpg');
  background-repeat: no-repeat;
 */
}

.both-columns {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
  /* padding-left: 14%; */
}

/* Form Styles */
.button-arrow {
  padding: 10px 33px;
}

#button-addon {
  border-style: none;
  border-radius: 30px;
  position: absolute;
  left: 78%;
  box-shadow: 0 10px 17px hsl(0, 40%, 85%);
}

.error {
  visibility: hidden;
}

.error-icon {
  visibility: visible;
}

.form-button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.form-button:hover {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
  box-shadow: 0 10px 17px hsl(0, 30%, 85%);
}

.form-control::placeholder {
  color: hsl(0, 40%, 86%) !important;
}

#input-addon {
  background-color: transparent;
  border-radius: 30px;
  max-width: 95%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 23px;
  z-index: 0;
}

small {
  padding-left: 20px;
  color: hsl(0, 93%, 68%);
  visibility: hidden;
}

.small-error {
  visibility: visible;
}

.validation-icons {
  width: 24px;
  position: absolute;
  left: 64%;
  top: 29%;
}

@media only screen and (max-width: 574px) {
  body {
    max-width: 500px;
  }

  .box-layer {}

  .button-arrow {
    padding: 10px 20px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .content {
    padding-left: 10%;
    padding-right: 10%;
  }

  .form-copy {
    font-size: .9rem;
    text-align: center;
  }

  .girl-mobile {
    margin-top: 10%;
  }

  .header-first {
    font-size: 2.5rem;
    text-align: center;
  }

  .logo {
    position: absolute;
    bottom: 93%;
  }

  .row {
    padding: 0;
  }
}
}
}
